<h1>Listing filings</h1>

<table>
  <tr>
    <th>Proceeding Id</th>
    <th>Type</th>
    <th>Receive Date</th>
    <th>Author</th>
    <th>View</th>
  </tr>

<% @filings.each do |filing| %>
  <tr>
    <td><%= filing.proceeding_id %></td>
    <td><%= filing.filing_type %></td>
    <td><%= filing.recv_date.strftime("%m/%d/%Y") %></td>
    <td><%= filing.author %></td>
    <td><%= link_to "Show", filing_path(filing) %></td>
  </tr>
<% end %>
</table>
