<% provide(:title, 'Filing Documents') %>
<hr>
<h1>Filling Documents and Tags</h1>
<p>Search to find OCR related content from the many documents, tags etc</p>
<table>
  <tr>
    <th>Doc ID</th>
    <th>Summary</th>
    <th>Word Count</th>
    <th>Page #</th>
    <th>View</th>
  </tr>

<% @doc_pages.each do |doc_page| %>
  <tr>
    <td><%= link_to "Doc #{doc_page.id}", doc_page %></td>
    <td><%= truncate(doc_page.pagetext, :length => 50) %></td>
    <td><%= doc_page.wordcount %></td>
    <td><%= doc_page.pagenumber %></td>
    <td><%= link_to "View", doc_page %></td>
  </tr>
<% end %>
</table>